<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MySqlConn"
         connectionString="server=127.0.0.1;port=3306;database=database_kas_sekolah;uid=root;pwd=;AllowZeroDateTime=True;Convert Zero Datetime=True;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>